{% extends locals.path + '/u.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/sub.css">

{% endblock %}

{% block content %}

  {% if empty %}
    <div class="page-title">
      <span>شما هیچ کس رو نپذیرفتید</span>
    </div>

  {% elif subs | join !== "" %}
    <div class="page-title">
      <span>مدیریت کاربران تایید شده</span>
    </div>

    <div class="sub-container">
      {% for i in subs %}

        <div class="sub">
          <div id="{{ i.username }}">
            <h3>نام کاربری :
              {{ i.username }}</h3>
            <p>
              نام و نام خانوداگی :
              {{i.fname}}
              {{i.lname}}</p>

            <form action="/u/sub/manage/remove/{{ i.username }}" method="post" class="remove">

              <input type="hidden" name="username" value="{{ i.username }}">
              <input type="submit" value="حذف کاربر">

            </form>

          </div>

        </div>

      {% endfor %}
    </div>
  {% endif %}
  <div class="del-sub">

    <h2>حذف فوری<h2>
        <form action="/u/sub/manage/remove/" method="post" name="remove-immidiately">

          <input type="text" name="username" value="{{ i.username }}" placeholder="یوزرنیم">

          <input type="submit" value="حذف کاربر" class="green-btn">

        </form>
      </div>
    {% endblock %}

    {% block scripts %}
      <script src="/files/js/manage-submembers.js"></script>
    {% endblock %}
