<header>
  <div class="dropdown" id="icon-container" onclick="changeIcon(this)">
    <button onclick="myFunction()" class="dropbtn">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </button>

    <div id="myDropdown" class="dropdown-content">
      <a href="/u/article/add">اضافه کردن مقاله</a>
      {% if locals.logged.type >= 3 %}
      <a href="/u/sub">افراد درخواست داده</a>
      <a href="/u/sub/manage">مدیریت کاربران</a>
      <a href="/u/conference/manage">مدیریت ارائه ها</a>
      <a href="/u/article/manage">مدیریت مقالات</a>
      <a href="/u/article-comments">نظرات مقالات شما</a>
      {% endif %}
      <a href="/u/conference/add">ارائه دادن</a>
      <a href="/u/article/">مقالات من</a>
      <a href="/u/gallery/add">ارسال عکس</a>
      <a href="/u/gallery">البوم من</a>
      <a href="/u/setting">تنظیمات</a>
      <a href="/u/logout">خروج</a>
    </div>
  </div>

  <ul class="cpanel">
    <li class="dropdown">
      <div class="dropbtn">
        <i class="icon-pencil" aria-hidden="true"></i>
        <span>مقالات</span>
        <div>
          <div class="dropdown-content">
            <a href="/u/article/add">
              <span>اضافه کردن</span>
            </a>
            <a href="/u/article/">
              <span>مقالات من</span>
            </a>
            <a href="/u/article/manage">
              <span>مدیریت مقالات</span>
            </a>
            <a href="/u/article-comments">
              <span>نظرات مقالات شما</span>
              </a>
          </div>
        </div>
      </div>
    </li>

    <li class="dropdown">
      <div class="dropbtn">
        <i class="icon-bullhorn"></i>
        <span>ارائه ها</span>
        <div>
          <div class="dropdown-content">
            <a href="/u/conference/add">
              <span>اضافه کردن</span>
            </a>
            <a href="/u/conference">ارائه های من</a>
            {% if locals.logged.type >= 3 %}
            <a href="/u/conference/manage">
              <span>مدیریت</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </li>

    <li class="dropdown">
      <div class="dropbtn">
        <i class="icon-images"></i>
        <span>آلبوم</span>
        <div>
          <div class="dropdown-content">
            <a href="/u/gallery/add">
              <span>اضافه کردن</span>
            </a>
            <a href="/u/gallery">
              <span>البوم من</span>
            </a>
          </div>
        </div>
      </div>
    </li>

    {% if locals.logged.type >= 3 %}

      <li class="dropdown">
        <div class="dropbtn">
          <i class="icon-users"></i>
          <span>اعضا</span>
          <div>
            <div class="dropdown-content">
              <a href="/u/sub">
                <span>افراد درخواست داده</span>
              </a>
              <a href="/u/sub/manage">
                <span>مدیریت اعضا</span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="/u/comments">
          <i class="icon-weixin"></i>
          <span>نظرات</span>
        </a>
      </li>
    {% endif %}
    <li>
      <a href="/u/setting">
        <i class="icon-cog" aria-hidden="true"></i>
        <span>تنظیمات</span>
      </a>
    </li>
    <li>
      <a href="/u/logout" onclick="localStorage.setItem('loggedout', '1')">
        <i class="icon-sign-out"></i>
        <span>خروج</span>
      </a>
    </li>
  </ul>

  <div class="profile-avatar-header">
    {% if locals.logged.avatar %}
      <img src="/img/{{ locals.logged.avatar }}" alt="عکس کاربر">
    {% else %}
      <img src="/files/image/default-user.png" alt="عکس کاربر">
    {% endif %}
    {% if locals.logged %}
      <a href="/u">{{ locals.logged.fname }}</a>
    {% endif %}
  </div>

  <div>
    <a href="/" id="long-title-name" class="title">
      <img src="/files/image/qomosc.png" width="55px">
    </a>
    <a href="/" id="short-title-name" class="title">
      <img src="/files/image/qomosc.png" width="50px">
    </a>
  </div>
</header>
