{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/user.css">
<link rel="stylesheet" href="/files/css/post-short.css">
{% endblock %}

{% block content %}
<div id="container">
  <div id="user-panel">
    <div class="user-name">
      <span>
        <a href="/user/{{ locals.logged.username }}">
          {{ locals.logged.fname }} {{ locals.logged.lname }}
        </a>
      </span>
    </div>
    {% if locals.logged.avatar %}
      <img src="/img/{{ locals.logged.avatar }}" alt="عکس کاربر">
    {% else %}
      <img src="/files/image/default-user.png" alt="عکس کاربر">
    {% endif %}
    <p id="user-description"></p>
    <table id="user-info">
      <tr>
        <td title="ایمیل">
          <i class="icon-email" aria-hidden="true"></i>
        </td>
        <td>{{ locals.logged.email }}</td>
      </tr>
      <tr>
        <td title="یوزرنیم">
          <i class="icon-user" aria-hidden="true"></i>
        </td>
        <td>
          <a href="/user/{{ locals.logged.username }}">
            {{ locals.logged.username }}
          </a>
        </td>
      </tr>
      {% if locals.logged.description %}
        <tr>
          <td title="درباره کاربر">
            <i class="icon-info" aria-hidden="true"></i>
          </td>
          <td><p>{{ locals.logged.description }}</p></td>
        </tr>
      {% endif %}
      <tr>
        <td>
          <i class="icon-user-secret" aria-hidden="true"></i>
        </td>
        {% if locals.logged.type === 1 %}
          <td>رتبه: در حال انتظار</td>
        {% elif locals.logged.type === 2 %}
          <td>رتبه: عضو معمولی</td>
        {% elif locals.logged.type === 3 %}
          <td>رتبه: مدیر</td>
        {% elif locals.logged.type === 4 %}
          <td>رتبه: مدیر کل</td>
        {% endif %}
      </tr>
    </table>
  </div>
  <div id="works">
      <div class="title-user">
            <span>مقالات اخیر</span>
      </div>
      <div class="recent-posts">
    {% for i in articles %}
        <div class="posts">
          <a href="/article/{{ i.id }}">
            <div class="posts-pic">
              <img src="/img/{{ i.avatar }}">
            </div>
          </a>
          <div class="posts-body">
            <div class="posts-title">
              <a href="/article/{{ i.id }}">
                <span>{{ i.title }}</span>
              </a>
            </div>
            <div class="posts-summary">
              <p>{{ i.content }}</p>
            </div>
          </div>
          <div class="posts-footer">
            <div class="posts-event">
              <div class="like-btn" title="لایک ها">
                <span>{{ i.likes }}</span>
                <i class="icon-heart" aria-hidden="true"></i>
              </div>
              <div class="view-btn" title="بازدید ها">
                <span>{{ i.viewers }}</span>
                <i class="icon-eye" aria-hidden="true"></i>
              </div>
            </div>
            <a href="/article/{{ i.id }}">
              <span>بیشتر بخوانید . . .</span>
            </a>
          </div>
        </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
