{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
{% if empty %}
<div class="page-title">
  <span>هیچ درخواستی برای ارائه وجود ندارد</span>
  </div>
{% else %}
<div class="page-title">
  <span>ارائه ها</span>
</div>
<h3></h3>
{% for i in confs %}
<div class="cnf-manage" id="{{ i._id }}">
  <h3>ارائه دهندگان:</h3>
  {% for j in i.provs %}
  <div>نام کاربر :
    <a href="/user/{{ j.username }}">
    {{ j.fname }} {{ f.lname }}
    </a>
  </div>
  {% endfor %}
  <h1></h1>
  <div class="requested-confs">
    <h3> موضوع ارائه : {{ i.title }}</h3>
    <p>توضیحات :  {{ i.description }}</p>
   <div class="cnf-control">
    <form action="/u/conference/manage/accept" method="post" class="accept">
      <input type="hidden" name="id" value="{{ i._id }}">
      <input type="submit" value="قبول کردن" class="green-btn">
    </form>

    <form action="/u/conference/manage/decline" method="post" class="decline">
      <input type="hidden" name="id" value="{{ i._id }}">
      <input type="submit" value="قبول نکردن" class="red-btn">
    </form>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/manage-conf.js"></script>
{% endblock %}
