{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/viewpost.css">
<link rel="stylesheet" href="/files/css/home.css">
<link rel="stylesheet" href="/files/css/post-short.css">
{% endblock %}

{% block content %}
<section class="article-header">
  <div class="head-article">
    <div>
      <a href="/">
        <img src="/files/image/qomosc.png" width="55px">
      </a>
      <h3>{{ article.title }}</h3>
    </div>
    <div>
      <a href="https://telegram.me/share/url?url=@@LINK@@/article/{{ article._id }}&amp;text={{ article.title }} در جامعه متن باز قم" target="_blank">
        <i class="icon-telegram"></i>
      </a>
      <a href="https://twitter.com/intent/tweet?text=@@LINK@@/article/{{ article._id }} {{ article.title }} در جامعه متن باز قم" data-size="large">
        <i class="icon-twitter"></i>
      </a>
      <a href="mailto:?subject={{ article.title }} در جامعه متن باز قم&body=این مطلب را در جامعه متن باز قم کامل بخوانید @@LINK@@/article/{{ article._id }}">
        <i class="icon-email"></i>
      </a>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</section>

<div class="viewpost" style="background-image: url('/img/{{ article.avatar }}');">
<span>{{ article.title }}</span>
  <div class="viewpost-details">
    <a href="/user/{{ article.author.username }}">
      <div class="profile-img" style="background-image: url('/img/{{ article.author.avatar }}');
       background-size: cover;"></div>
    </a>

    <span>{{ article.author.fname }}
      {{ article.author.lname }}</span>
    <span>
      <i class="icon-circle"></i>
    </span>
        <span>{{ article.createdAt }}</span>
      </div>
    </div>
    <div class="viewpost-all">

      <div class="viewpost-info-all">
        <div class="viewpost-info">
          <div class="viewpost-info-in">
            <div class="view-post-head-right">
              <a href="/user/{{ article.author.username }}">
                <div class="profile-img" style="background-image: url('/img/{{ article.author.avatar }}');
                background-size: cover;"></a>
              </div>
              <a href="/user/{{ article.author.username }}">
                <span>{{ article.author.fname }}
                  {{ article.author.lname }}</span>
              </a>
            </div>
            <div class="viewpost-icon">
              <span>
                <i class="icon-eye" aria-hidden="true">
                </i>&nbsp;{{ article.viewers }}</span>
              <span>
                مطالعه : &nbsp;&nbsp;{{ article.minutes }}&nbsp; دقیقه
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="viewpost-body">
        <div class="article-title">
          <span>{{ article.title }}</span>
        </div>
        <div class="viewpost-text">
          <div id="markdowned-text">
            {{ article.content }}
          </div>
          {% for embed in article.embeds %}
            {{ embed | safe }}
          {% endfor %}
          <div class="event">
            <div class="posts-event">
              <div id="dislike-btn">
                {% if article.liked %}
                  <i class="icon-like" aria-hidden="true" id="like-dislike-btn" data-id="{{ article._id }}" data-status="liked"></i>
                {% else %}
                  <i class="icon-dislike" aria-hidden="true" id="like-dislike-btn" data-id="{{ article._id }}" data-status="disliked"></i>
                {% endif %}
                &nbsp;
              </div>
              <span class="like-spn" id="like-and-dislike-number">{{ article.likes }}</span>
              <span>
                <i class="icon-calendar" aria-hidden="true"></i>
                &nbsp;{{ article.createdAt }}
              </span>
            </div>

            <div class="dtags">
              <span>برچسب ها:
              </span>
              {% for i in article.tags %}
                <a href="/tag/{{ i }}" class="atags">{{ i }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="user-info">
        <div class="user-info-right">
          <a href="/user/{{ article.author.username }}">
            <div class="profile-img" style="background-image: url('/img/{{ article.author.avatar }}');
            background-size: cover;"></div>
          </a>
        </div>
        <div class="user-info-left">
          <div>
            <span class="username">
              <a href="/user/{{ article.author.username }}">
                <span>{{ article.author.fname }}
                  {{ article.author.lname }}</span>
              </a>
            </span>
          </div>
          <div>
            {% if article.author.description %}
              <p>{{ article.author.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="cmt-send">
      <h2>ارسال نظر</h2>
    <form
      action="/article/{{ article._id }}/comment/add"
      name="comment-form"
      method="post">
       <div class="cmt-row">
      <input
        type="text"
        name="name"
        required="required"
        placeholder="نام">

      <input
        type="email"
        name="email"
        required="required"
        placeholder="ایمیل">
         </div>
      <textarea
        name="description"
        required="required"
        placeholder="توضیحات"></textarea>

      <input
        type="submit"
        value="ثبت نظر"
        class="green-btn">

    </form>
    </div>
    <div class="cmt-container">
      {% for i in article.comments %}
        <div class="comment">
          <div class="cmt-avatar">
            <img src="/files/image/default-avatar.png">
          </div>
          <div class="cmt-content">
            <div class="cmt-title">
              <div>
                <span class="cmt-name">{{ i.name }}</span>
              </div>
              <div class="cmt-event">
              </div>
            </div>
            <div class="cmt-des">
              <p>{{ i.description }}</p>
            </div>
            <div class="cmt-time">
              <div></div>
              <div>
                <span>{{ i.createdAt }}</span>
              </div>
            </div>
            {% if i.answer %}
              <a href="/user/{{ i.admin.username }}">

                <div class="cmt-ans">
                  <div><i class="icon-reply"></i></div>
                  <div class="cmt-ans-avatar">
                    {% if i.admin.avatar %}
                      <img src="/img/{{ i.admin.avatar }}">
                    {% else %}
                      <img src="/files/image/default-user.png">
                    {% endif %}
                  </div>
                  <div class="cmt-ans-content">
                    <div class="cmt-ans-user">
                      <span>
                        {{ i.admin.fname }}
                        {{ i.admin.lname }}
                      </span>
                    </div>
                    <div class="cmt-ans-des">
                      <p>{{ i.answer }}</p>
                    </div>
                  </div>

                </div>
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
  <script>
    var URL = '{{ article._id }}';
  </script>
  <script src="/files/js/lib/showdown.min.js"></script>
  <script src='/files/js/ipchecker.js'></script>
  <script src='/files/js/like-article.js'></script>
  <script src="/files/js/viewarticle.js"></script>
  <script src="/files/js/comment-article.js"></script>
{% endblock %}
