{% extends locals.path + '/index.njk' %}

{% block head %}
  <link rel="stylesheet" href="/files/css/conferences.css">

{% endblock %}
<div class="page-title">
  <span>صفحه ارائه</span>
</div>
{% block content %}
  <div class="view-conf">
    <div class="conf-info">
      <h3>جامعه متن باز قم - رویداد هفدهم</h3>
      <label>شروع رویداد</label>
      <div>{{ info.start }}</div>
      <label>پایان رویداد</label>
      <div>{{ info.end }}</div>
      <div>
        <label>مکان رویداد</label>
        قم</div>
      <div>
        <label>موضوع رویداد</label>
        نرم افزار
      </div>
      <button
        type="button"
        id="attend-at-conf"
        data-id="{{ info._id }}">حضور در جلسه</button>
      <div>
        <span class="spn-num">تعداد افرادی که حضور پیدا خواهند کرد :‌
          {{ info.attenders }}</span>
      </div>
    </div>
  </div>
  <div class="view-conf-container">
    <div class="view-conf-right">
      <div class="view-conf-des">
        <h3>عنوان ارائه:
          {{ info.title }}</h3>
        {% if info.description %}
          <p>{{ info.description }}</p>
        {% endif %}
        <p>ساخته شده در:
          {{ info.createdAt }}</p>
      </div>

      <div class="conf-user">
        <div>
          <h3>ارائه دهندگان</h3>
        </div>
        <div class="users">
          <div class="user">
            {% for i in info.provs %}
              {% if i.avatar %}
                <img src="/img/{{ i.avatar }}">
              {% else %}
                <img src="/files/image/default-avatar.png">
              {% endif %}
              <a href="{{ i.username }}"></a>
              <span class="username">
                {{ i.fname }}
                {{ i.lname }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="view-conf-left">
      <div class="map-conf">
        <p><b>آدرس : </b>قم چهار راه شهدا (چهار راه بیمارستان) مجتمع موبایل آسیا طبقه منفی ۲</p>


        <div class="map">
          <a
            href="https://www.google.com/maps/place/%D8%A8%D8%A7%D8%B2%D8%A7%D8%B1+%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84+%D8%A2%D8%B3%DB%8C%D8%A7%E2%80%AD/@34.6390078,50.8748855,19z/data=!4m8!1m2!7m1!2e1!3m4!1s0x0:0x1f7ce6e28d5ee814!8m2!3d34.63885!4d50.874773"
            class="amap">
            <div class="map" title="برای دیدن نقشه کلیک کنید"></div>
          </a>
        </div>
      </div>
      <div class="conf-share">
         <b>دوستان خود را دعوت کنید</b>
         <div>
             <input
               type="text"
               placeholder="لینک دعوت"
               id="short-link-conf"
               value="@@LINK@@/conference/{{ info._id }}"
               onclick="copyLink();">
             <button onclick="copyLink();">کپی لینک</button>
         </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="/files/js/attend-conf.js"></script>
<script>
  function copyLink() {
    const text = document.getElementById('short-link-conf');
    text.select();
    document.execCommand('Copy');
    iziToast.success({
      rtl: true,
      title: 'لینک با موفقیت کپی شد'
    });
  }
</script>
{% endblock %}
