{% extends locals.path + '/index.njk' %}

{% block content %}
<div class="contact" id="particles-js">
  <div id="contact-texts">
    <img src="/files/image/qomosc.png" width="80px">
    <h1>جامعه متن باز قم</h1>
  </div>
</div>

<div class="description">
  <div class="col-des">
    <h2>به جامعه متن باز قم خوش آمدید</h2>
    <p>جامعه متن‌باز قم با هدف فراهم کردن محیطی برای به اشتراک گذاری دانش و تجربیات افرادی که در زمینه‌های مختلف متن‌باز فعالیت می‌کنند تاسیس شده است.</p>
  </div>
  <div class="des-info">
    <div class="dec-content">
      {% if locals.logged %}
      <div>
        <span>برای اضافه کردن مقاله کلیک کنید</span>
      </div>
      <div>
        <a href="/u/article/add">اضافه کردن مقاله</a>
        <a href="/u">داشبورد</a>
      </div>
      {% else %}
      <div>
        <span>برای اضافه کردن مقاله ابتدا ثبت نام کنید</span>
      </div>
      <div>
        <a href="/login">ورود</a>
        <a href="/signup">ثبت نام</a>
      </div>
      {% endif %}
    </div>
    <img src="/files/image/chrome.png">
  </div>
</div>
{% if not lastConf.empty %}
<section class="evand-banner">
  <div class="subject">
    <h2>موضوع ارائه بعدی : </h2>
    <span>
      <a href="/conference/{{ lastConf._id }}">{{ lastConf.title }}</a>
    </span>
  </div>
  <div>توسط :
    {% if lastConf.provider.avatar %}
    <img src="/img/{{ lastConf.provider.avatar }}">
    {% else %}
    <img src="/files/image/default-user.png">
    {% endif %}
    <span><i class="icon-circle"></i><span>
    <span>
     {{ lastConf.provider.fname }} {{ lastConf.provider.lname }}
    </span>
  </div>
  <div class="date-time">
    <span>تاریخ برگزاری : 96/11/30</span>
  </div>
  <button
    type="button"
    id="attend-at-conf"
    data-id="{{ lastConf._id }}">حضور در جلسه</button>
</section>
{% endif %}

<div class="home-content">
  <div class="last-posts">
    <h3>مقالات اخیر</h3>
    <div class="latset-posts">
{% for i in articles %}
      <div class="posts">
        <div class="posts-head">
          <div class="posts-head-right">
            <a href="/user/{{ i.author.username }}">
              <div class="profile-img"
              style="background-image: url(/img/{{ i.author.avatar }}); background-size: cover;">
              </div>
            </a>
            <div class="col-name">
              <a href="/user/{{ i.author.username }}">
                <span title="نام نویسنده">
                  {{ i.author.fname }}
                  {{ i.author.lname }}
                </span>
              </a>
              <small class="spn-time">{{ i.createdAt }}</small>
            </div>
        </div>
      </div>
      <a href="/article/{{ i._id }}">
        <div class="posts-pic">
          <img src="/img/{{ i.avatar }}">
        </div>
      </a>

      <div class="posts-body">
        <div class="posts-title">
          <a href="/article/{{ i._id }}">
            <span>{{ i.title }}</span>
          </a>
        </div>
        <div class="posts-summary">
          <p>{{ i.content }}</p>
        </div>
      </div>

      <div class="posts-footer">
        <div class="posts-event">
          <div class="like-btn" title="لایک ها">
            <i class="icon-heart" aria-hidden="true"></i>
            <span>{{ i.likes }}</span>
          </div>

          <div class="view-btn" title="بازدید ها">
            <i class="icon-eye" aria-hidden="true"></i>
            <span>{{ i.viewers }}</span>
          </div>

        </div>
        <a href="/article/{{ i._id }}">
          <span>بیشتر بخوانید . . .</span>
        </a>
      </div>
      </div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block scripts %}

{% if not lastConf.empty %}
<script src="/files/js/attend-conf.js"></script>
{% endif %}
<script src="/files/js/lib/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '/files/js/lib/p.json');
</script>
{% endblock %}
