{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
<link rel="stylesheet" href="/files/css/gallery.css">
{% endblock %}

{% block content %}
    <div class="page-title">
      <span>تگ: {{ tagname }}</span>
    </div>
    {% for i in tags %}
    <div class="gallery-container">
      <div class="posts">
        <div class="posts-head">
          <div class="posts-head-right">
            <a href="/user/{{ i.member.username }}">
              <div
              class="profile-img"
style="background-image: url(/img/{{ i.member.avatar }}); background-size: cover;">
              </div>
            </a>
            <div class="col-name">
              <a href="/user/{{ i.member.username }}">
                <span title="نام نویسنده">
                  {{ i.member.fname }}
                  {{ i.member.lname }}
                </span>
              </a>
              <small class="spn-time">{{ i.article.createdAt }}</small>
            </div>
          </div>
        </div>
        <a href="/article/{{ i.article._id }}">
          <div class="posts-pic">
            <img src="/img/{{ i.article.avatar }}">
          </div>
        </a>
        <div class="posts-body">
          <div class="posts-title">
            <a href="/article/{{ i.article._id }}">
              <span>{{ i.article.title }}</span>
            </a>
          </div>
          <div class="posts-summary">
            <p>{{ i.article.content }}</p>
          </div>
        </div>
        <div class="posts-footer">
          <div class="posts-event">
            <div class="like-btn" title="لایک ها">
              <i class="icon-heart" aria-hidden="true"></i>
              <span>{{ i.article.likes }}</span>
            </div>
            <div class="view-btn" title="بازدید ها">
              <i class="icon-eye" aria-hidden="true"></i>
              <span>{{ i.article.viewers }}</span>
            </div>
          </div>
          <a href="/article/{{ i.article._id }}">
            <span>بیشتر بخوانید . . .</span>
          </a>
        </div>
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
<div class="confs-control">
  <a href="/tag/{{ tagname }}" id="previous">
    <button>قبلی</button>
  </a>
  <a href="/tag/{{ tagname }}" id="next">
    <button>بعدی</button>
  </a>
</div>
{% endblock %}

{% block scripts %}
<script>
  var tagname = '{{ tagname }}';
</script>

{% if not empty %}
<script src="/files/js/tag.js"></script>
{% endif %}

{% endblock %}
