{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/user.css">
<link rel="stylesheet" href="/files/css/post-short.css">
{% endblock %}

{% block content %}
<div id="container">
  <div id="user-panel">
    <div class="user-name">
    <span>
      <a href="/user/{{ member.username}}">
        {{ member.fname }} {{ member.lname }}
      </a>
    </span>
      </div>
    {% if member.avatar %}
      <img src="/img/{{ member.avatar }}" alt="عکس کاربر">
    {% else %}
      <img src="/files/image/default-user.png" alt="عکس کاربر">
    {% endif %}
    <p id="user-description"></p>
    <table id="user-info">
      <tr>
        <td title="ایمیل">
          <i class="icon-email" aria-hidden="true"></i>
        </td>
        <td>
          <a href="mailto:{{ member.email}}">{{ member.email }}</a>
        </td>
      </tr>
      <tr>
        <td title="یوزرنیم">
          <i class="icon-user" aria-hidden="true"></i>
        </td>
        <td>
          <a href="/user/{{ member.username}}">{{ member.username }}</a>
        </td>
      </tr>
      {% if member.description %}
      <tr>
        <td title="درباره کاربر">
          <i class="icon-info" aria-hidden="true"></i>
        </td>
        <td>{{ member.description }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>
          <i class="icon-clock"></i>
        </td>
        <td>تاریخ عضویت:
          {{ member.createdAt }}
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon-file" aria-hidden="true"></i>
        </td>
        <td>تعداد مقالات:
          {{ member.articles }}
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon-user-secret" aria-hidden="true"></i>
        </td>
        {% if member.type === 1 %}
        <td>رتبه: در حال انتظار</td>
        {% elif member.type === 2 %}
        <td>رتبه: عضو معمولی</td>
        {% elif member.type === 3 %}
        <td>رتبه: مدیر</td>
        {% elif member.type === 4 %}
        <td>رتبه: مدیر کل</td>
        {% endif %}
      </tr>
    </table>
  </div>

  <div id="works">
    <div class="title-user">
      <span>مقالات اخیر</span>
    </div>
<div class="recent-posts">
    {% for i in articles %}

      <div class="posts">
        <a href="/article/{{ i._id }}">
          <div class="posts-pic">
            <img src="/img/{{ i.avatar }}">
          </div>
        </a>
        <div class="posts-body">
          <div class="posts-title">
            <a href="/article/{{ i.id }}">
              <span>{{ i.title }}</span>
            </a>
          </div>
          <div class="posts-summary">
            <p>{{ i.content }}</p>
          </div>
        </div>
        <div class="posts-footer">
          <div class="posts-event">
            <div class="like-btn" title="لایک ها">
              <span>{{ i.likes }}</span>
              <i class="icon-heart" aria-hidden="true"></i>
            </div>
            <div class="view-btn" title="بازدید ها">
              <span>{{ i.viewers }}</span>
              <i class="icon-eye" aria-hidden="true"></i>
            </div>
          </div>
          <a href="/article/{{ i.id }}">
            <span>بیشتر بخوانید . . .</span>
          </a>
        </div>
      </div>

    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
