//about page

.developers {
  background: #40AA54;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 250px;
    border-radius: 100%;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fec901;
    margin: 10px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;

    a {
      font-size: 25px;
    }
  }

  h1 {
    margin-bottom: 20px;
    font-family: SB;
  }
}

.developers-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-name {
  color: #222;

  &:hover {
    color: #333;
  }
}

.qomosc-admin {
  margin-top: -20px;
  height: 700px;
  background: #fec901;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: SB;
    margin-bottom: 20px;
    font-size: 50px;
  }

  figure {
    background: #40AA54;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 300px;
      border-radius: 100%;
      margin-bottom: 8px;
    }
  }

  a {
    font-family: SB;
    font-size: 25px;
    cursor: pointer;
  }
}

.admin-name {
  font-family: SB;
  font-size: 17px;
}

.admin-description {
  font-size: 15px;
  color: #333;
}

.content {
  margin: 20px 20%;
}

.icons {
  a {
    color: #222;

    &:hover {
      color: black;
    }
  }
}

.contributor-name {
  font-size: 16px;
  font-family: SB;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.contributor-icon {
  font-size: 20px;
  color: #333;

  &:active,
  &:hover {
    color: black;
  }
}

.content-of-about-us {
  background: #fff;
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
}
//////////////////// contact page /////////////////////////

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 10px;
}

.contact-form {
  width: 50%;
  background: #fff;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 9px 10px 0 rgba(0,0,0,.06);
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-info {
    color: #003662;
    padding: 20px;

    span {
      border-bottom: solid #40AA54 1px;
      padding: 5px 15px;
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
      padding: 5px;
      text-align: justify;
      font-size: 14px;
    }
  }
}

.left-col-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #003662;
}

.contact-us {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 12px 27px 0 rgba(0,0,0,.06);
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3em;

  .mail-time {
    display: flex;
    justify-content: space-between;

    a {
      color: #123365;
      margin-left: 50px;
    }
  }

  p {
    font-size: 15px;
    line-height: 2em;
    text-align: justify;
  }
}

.map {
  width: 100%;
  height: 400px;
  background-image:  url("/files/image/map.png");
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 12px 27px 0 rgba(0,0,0,.06);
  cursor: pointer;
}
.amap {
  margin: 10px;
  width: 100%;
}
.div-btn {
  text-align: center;
}
// comment

.cmt-h2 {
  background-color: #40AA54;
  color: #fff;
  width: 82%;
  margin: auto;
  padding: 5px 0;
  text-align: center;
  letter-spacing: -0.3px;
  font-family: SB;
}

.cmt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  background: #fff;
  width: 80%;
  padding: 15px 1%;
  display: flex;
  min-height: 150px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}

.cmt-avatar {
  width: 6%;
  padding: 10px 1%;

  img {
    width: 70px;
    border-radius: 100%;
  }
}

.cmt-content {
  // display: flex;
  // flex-direction: column;
  width: 100%;

  a {
    color: #5a5a5a;
  }
}

.cmt-title {
  padding: 10px 2%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cmt-top {
  display: flex;

  .toptitle {
    margin-right: 10px;
    color: #5a5a5a;
  }
}

.cmt-des {
  padding: 10px 1%;
  color: #5A5A5A;
  text-align: justify;
}

.cmt-time {
  color: #989898;
  padding: 6px 10% 0 2%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  i {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.cmt-event {
  color: #adadad;
  display: flex;

  i {
    margin-left: 6px;
  }

  div {
    margin-right: 10px;
  }
}

.cmt-name {
  font-family: SB;
}

.cmt-ans {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 2%;
  border-right: 3px solid #ccc;
}

.cmt-content {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 5px;
  }
}

.cmt-ans-avatar {
  width: 11%;
  padding: 5px;

  img {
    vertical-align: middle;
    width: 70px;
    border-radius: 100%;
  }
}



@media (min-width: 120px) and (max-width: 500px) {
  .content-of-about-us {
    width: 85%;

    .content {
      margin: 5px 6%;
    }
  }

  .developers {
    height: 900px;
  }

  .developers-img {
    flex-direction: column;
  }

  .about-all {
    padding: 5px;
  }

  .contact-container {
    flex-direction: column;
    width: 98%;
    padding: 0;
  }

  .contact-form {
    width: 97%;
    margin: auto;
    padding: 5px;
  }

  .contact-us {
    padding: 5px 10px;
    text-align: center;
  }

  .mail-time {
    flex-direction: column;
    align-items: center;
    text-align: center;

    a {
      margin: 0;
      text-align: center;
    }
  }

  .left-col-contact {
    width: 97%;
    margin: 10px auto;
  }

  .comment {
    width: 90%;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .cmt-avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cmt-des {
    margin-bottom: 15%;
    padding: 10px 3%;
  }

  .cmt-time {
    height: 8%;
  }

  .cmt-ans-avatar {
    width: 23%;

    img {
      width: 55px;
    }
  }
}
