.view-conf {
  background: url("https://fossbytes.com/wp-content/uploads/2017/03/microsoft-open-source-company-640x360.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  position: relative;
}

.conf-info {
  padding: 20px 30px;
  position: absolute;
  top: 0;
  right: 10%;
  height: auto;
  bottom: 0;
  background: #fff;

  h3 {
    font-family: SB;
    font-size: 17px;
    margin-bottom: 10px;
  }

  div {
    margin-bottom: 7px;
    font-size: 15px;
    color: #748494;
  }

  label {
    color: #989898;
    font-size: 12px;
  }

  #attend-at-conf {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-family: SB;

    &:hover {
      font-size: 20px;
      color: #333;
    }
  }
}

.view-conf-container {
  display: flex;
  width: 95%;
  margin: auto;
}

.view-conf-right {
  width: 80%;
  display: flex;
  flex-direction: column;

  p {
    font-weight: 400;
    font-size: 0.91em;
    line-height: 2em;
    margin-top: 20px;
  }
}

.view-conf-des {
  background: #fff;
  color: #003662;
  box-shadow: 0 12px 27px 0 rgba(0,0,0,.06);
  border: 1px solid #eee;
  padding: 15px;
  margin: 15px;

  h3 {
    font-family: SB;
    font-size: 22px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

.view-conf-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.amap {
  margin: 10px;
  width: 100%;
}

.map-conf {
  box-shadow: 0 12px 27px 0 rgba(0,0,0,.06);
  border: 1px solid #eee;
  margin: 15px;
  background: #fff;
  padding: 3% 5%;
  height: 300px;

  p {
    font-size: 13px;
    padding: 10px;

    b {
      font-family: SB;
    }
  }

  .map {
    background-image: url("/files/image/map.png");
    background-size: cover;
    cursor: pointer;
    width: 100%;
    height: 200px;
  }
}

.conf-user {
  background: #fff;
  box-shadow: 0 12px 27px 0 rgba(0,0,0,.06);
  border: 1px solid #eee;
  margin: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  h3 {
    font-family: SB;
    font-size: 22px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  img {
    border-radius: 100%;
    width: 180px;
    border: 4px solid #40AA54;
  }

  .users {
    display: flex;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    padding: 15px 3%;
    margin-top: 10px;
    height: 250px;
    transition: 0.2s;

     &:hover {
       box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
     }

    .username {
      font-family: SB;
      margin-top: 10px;
      color: #003662;
    }
  }
}

.spn-num {
  padding: 10px;
  color: #b1b1b1;
}

.conf-share{
  background: #fff;
  box-shadow: 0 12px 27px 0 rgba(0,0,0,.06);
  border: 1px solid #eee;
  margin: 10px;
  padding: 5% 5%;
  text-align: center;
  min-height: 120px;

  b {
    font-family: SB;
  }

  div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  input {
    width: 180px;
    margin-left: 0;
    padding: 6px 8px;
    border: 1px solid #d5d5d5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #bbb;
    border-left: none;

    &:disabled {
      cursor: pointer;
      background: #fff;
    }
  }

  button {
    color: #40AA54;
    background: transparent;
    border: 1px solid #40AA54;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 4px 10px;
    margin-right: 0;
    cursor: pointer;
    font-family: SB;

    &:hover {
      background: #40AA54;
      border: transparent;
      color: #fff;
    }
  }
}
