footer {
  height: auto;
  background-color: #292c2f;
  position: relative;
  padding: 85px 0;
  margin-top: 50px;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.footer-row1 {
  margin-right: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;

  p {
    font-size: 15px;
    color: #8f9296;
    text-align: justify;
  }

  form {
    margin-top: 7%;

    input[type="email"] {
      background: rgba(0,0,0,.4);
      color: #8f9296;
    }

    input[type="submit"] {
      background-color: #40AA54;
      color: #fff;
      width: 100px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: darken(#40AA54, 10%);
      }
    }
  }
}

.footer-row2 {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 20%;
  margin-right: 7%;

  i {
    background: #33383b;
    width: 45px;
    height: 45px;
    color: #fff;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    line-height: 2.25em;
    margin-left: 5%;
  }
}

.footer-row2-info {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  font-size: 15px;

  span {
    vertical-align: middle;
    margin: 0;
  }

  a {
    color: #5383d3;
    transition: 0.2s;

    &:hover {
      color: lighten(#5383d3, 10%);
    }
  }
}

.footer-row3 {
  width: 23%;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-right: 8%;

  p {
    margin-top: 5%;
    font-size: 14px;
    color: #8f9296;
    text-align: justify;
  }

  h4 {
    font-family: SB;
  }
}

.site-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 4%;
  font-family: SB;
}

.bottom-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  height: 30px;
  background-color: #353940;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8e8e8;
  text-align: right;

  p {
    margin-right: 5%;
    color: #ccc;
    font-size: 13px;

    a {
      color: #fff;
    }
  }

  div {
    margin-left: 5%;
    text-align: center;

    a {
      vertical-align: middle;
      font-size: 22px;
      margin: 10px;
      cursor: pointer;
      transition: 0.3s;
      color: #bbb;

      &:hover {
        transform: scale(1.3);
        color: #fff;
      }
    }
  }
}
@media (min-width: 120px) and (max-width: 500px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
  }

  .footer-row1 {
    width: 90%;
    margin-right: 0;
    height: 300px;

    form {
      margin-top: 10%;
    }
  }

  .footer-row2 {
    width: 90%;
    margin-bottom: 10%;
  }

  .footer-row3 {
    width: 90%;
    margin-right: 0;
    margin-top: 50px;
  }

  .bottom-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 80px;

    div {
      margin-left: 0;
    }
  }
}
