.contact {
  background-color: #2f3239;
  height: 300px;
  max-height: 300px;
  text-align: center;
  position: relative;
  index: 1;
}

#contact-texts {
  position: absolute;
  z-index: 99;
  index: 5;
  width: 50%;
  height: 60%;
  overflow: auto;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.contact h1 {
  margin-right: 10px;
  color: #fff;
  font-size: 60px;
  text-shadow: 4px 4px 25px rgba(0, 0, 0, 0.5);
  letter-spacing: -2px;
}

.description {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  text-align: center;
  background: #40AA54;
  color: #fff;
  height: 300px;
  text-shadow:  0 0 2px rgba(0,0,0,0.2);
}

.des-info {
  position: relative;

  img {
    width: 700px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}

.dec-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  width: 100%;
  text-shadow:  0 0 2px rgba(0,0,0,0.4);

    div {
      margin: 15px;
    }

    span {
      font-size: 22px;
    }

a {
  background: #324B85;
  text-decoration: none;
  color: #fff;
  padding: 8px 30px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background: darken(#324b85, 10%);
  }

}
}

.col-des {
  padding: 5px;
  text-align: justify;
  width: 27%;
  margin: 5px;
  font-size: 18px;
  color: #fff;

  h2 {
    margin-bottom: 11px;
    color: #fff;
    text-align: right;
    font-family: SB;
  }
}

.home-content {
  display: flex;
  justify-content: center;
}

.last-posts {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 1px #e0d9ff;
}

.last-posts h3 {
  background: #40AA54;
  text-align: center;
  color: #fff;
  padding: 5px;
}

.latset-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding:5px 1%;

  .posts {
    width: 24%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    margin: 5px;
    position: relative;
    padding-bottom: 44px;
  }

}

.about-us {
  color: #eee;
  text-decoration-color: #666;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.evand-banner {
  background: url(/files/image/banner.png);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 10px 10px 155px 3px rgba(0,0,0,0.99);
  color: #fff;
  padding: 20px;
  text-align: center;
  min-height: 200px;
  line-height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 4px 2px rgba(0,0,0,1);

  img {
     width: 30px;
     border-radius: 100%;
     vertical-align: middle;
     margin: 2px;
  }

  i {
    vertical-align: middle;
    font-size: 10px;
  }

  p {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 2em;
    text-align: center;
    width: 70%;
  }

  a {
    color: #fff;
    text-shadow: none;
    transition: 0.3s;
    color: #fff;
    margin-right: 10px;
  }

}
.subject {
  display: flex;

  h2 {
    font-family: SB;
    margin-left: 7px;
  }

  span {
    font-family: SB;
    font-size: 18px;
  }
}

.date-time {
  display: flex;

  span {
    margin-right: 15px;
  }
}

#attend-at-conf {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  background: linear-gradient(135deg,#7983ff,#5f9de9);
  color: #fff;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(135deg,#5f9de9,#7983ff);
  }
}

@media (min-width: 120px) and (max-width: 500px) {
  .description {
    flex-direction: column;
    text-align: center;
    height: 400px;
  }

  .col-des {
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #919191;
  }

  .home-content {
    flex-direction: column;
    justify-content: center;
  }

  .activists {
    width: 93%;
    margin: 0;
  }

  .person {
    justify-content: center;
  }

  .last-posts {
    width: 100%;
    margin: 0;
  }

  .view-btn {
    border: none;
  }

  .contact {
    flex-direction: column;
  }

  .conference-banner {
    flex-direction: column;
    height: 150px;
    text-align: center;
  }

  #contact-texts {
    position: absolute;
    z-index: 99;
    index: 5;
    width: 80%;
    height: 60%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

    h1 {
      font-size: 40px;
    }
  }
.dec-content {
font-size: 14px;
line-height: 1.4em;

span {
  font-size: 16px;
}
a {
padding: 5px 12px;
}
}
  .des-info {
    img {
      width: 300px;
      height: 180px;
    }
  }
  .latset-posts {
    padding: 0;

    .posts {
      width: 98%;
      border: none;
    }
  }
  .subject {
    flex-direction: column;
  }
}
