@charset "UTF-8";

@font-face {
  font-family: "qom-osc";
  src:url("../font/Fontastic/qom-osc.eot");
  src:url("../font/Fontastic/qom-osc.eot?#iefix") format("embedded-opentype"),
    url("../font/Fontastic/qom-osc.woff") format("woff"),
    url("../font/Fontastic/qom-osc.ttf") format("truetype"),
    url("../font/Fontastic/qom-osc.svg#qom-osc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "qom-osc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "qom-osc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\61";
}
.icon-user:before {
  content: "\62";
}
.icon-info:before {
  content: "\63";
}
.icon-clock:before {
  content: "\64";
}
.icon-file:before {
  content: "\65";
}
.icon-user-secret:before {
  content: "\66";
}
.icon-heart:before {
  content: "\67";
}
.icon-eye:before {
  content: "\68";
}
.icon-refresh:before {
  content: "\69";
}
.icon-circle:before {
  content: "\6a";
}
.icon-search:before {
  content: "\6b";
}
.icon-reply:before {
  content: "\6c";
}
.icon-twitter:before {
  content: "\6d";
}
.icon-telegram:before {
  content: "\6e";
}
.icon-like:before {
  content: "\6f";
}
.icon-dislike:before {
  content: "\70";
}
.icon-calendar:before {
  content: "\71";
}
.icon-github:before {
  content: "\72";
}
.icon-instagrem:before {
  content: "\73";
}
.icon-cog:before {
  content: "\74";
}
.icon-pencil:before {
  content: "\75";
}
.icon-camera:before {
  content: "\76";
}
.icon-bold:before {
  content: "\77";
}
.icon-italic:before {
  content: "\78";
}
.icon-strikethrough:before {
  content: "\79";
}
.icon-code:before {
  content: "\7a";
}
.icon-link:before {
  content: "\41";
}
.icon-image:before {
  content: "\42";
}
.icon-bullhorn:before {
  content: "\43";
}
.icon-images:before {
  content: "\44";
}
.icon-users:before {
  content: "\45";
}
.icon-weixin:before {
  content: "\46";
}
.icon-sign-out:before {
  content: "\47";
}
.icon-map:before {
  content: "\48";
}
.icon-osi:before {
  content: "\49";
}
