.post-container {
  background: #fff;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
  border: 1px solid #eee;
  padding: 20px;
}

.add-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input ,textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    transition: 0.3s;
    margin-bottom: 20px;
  }

  .post-title {
    margin-bottom: 10px;
  }

  input:focus  {
    box-shadow: none;
    border-bottom: 1px solid #333;
    color: #333;
  }
  textarea {
    border: 1px solid #eee;
  }
  textarea:focus {
    box-shadow: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    color: #333;
  }
}

.video-embed {
  display: none;
}

#embed-text {
  direction: ltr;
  font-family: Arial, sans-serif;
}
