.all-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.setting-row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.setting-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

h3 {
  width: 100%;
  background: #40AA54;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.setting-page {
  border: 1px solid #eee;
  width: 50%;
  background: #fff;
  text-align: center;
  margin: 10px;
  position: relative;

  form {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
  }

  h3 {
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
  }
}

.img-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 50%;
  margin: 10px;
  position: relative;
  padding: 60px 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);

  h3 {
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 97%;
  }
}

.password {
  width: 50%;
  background: #fff;
  margin: 10px;
  padding: 0 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
  }

  h3 {
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
  }
}

.del-account {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px 0;

  h3 {
    margin-bottom: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

input {
  width: 300px;
  margin-bottom: 10px;
  padding: 0.6rem 0.75rem;
  font-size: 14px;
  line-height: 1.25;
  border-radius: 4px;
  color: #004c4c;
  border: 1px solid rgba(0,95,82,0.2);
  transition: 0.3s;

  &:focus {
    box-shadow: 0 0 3px #40aa54;
  }
}

input[type="submit"] {
  background-color: #666;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken(#40AA54,10%);
  }
}

#remove-current-avatar {
  background: #40AA54;
  border: none;
  padding: 8px 2%;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken(#40AA54, 10%);
  }
}
@media (min-width: 120px) and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .setting-row1 {
    flex-direction: column;
  }

  .setting-row2 {
    flex-direction: column;
  }

  .setting-page {
    width: 100%;
    margin: 0;
  }

  .password {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .del-account {
    width: 100%;
    margin: 0;
  }

  .img-choice {
    width: 100%;
    margin: 0;
  }

  input {
    width: 250px;
  }
}
