#container {
  display: flex;
}

#user-panel {
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  width: 300px;
  height: auto;
  background-color: #fff;
  color: #444;
  padding-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  img {
    width: 210px;
    height: 210px;
    border-radius: 0;
    border: solid 3px #eee;
    transition: 0.3s;

    &:hover {
      border-radius: 100%;
    }
  }
}

 .user-name {
   background: #40AA54;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 20px;
   color: #f5f5f5;
   border-bottom: solid 4px #333;


   a {
     color: #fff;
     font-family: SB;
   }
 }

.setting {
  background-color:#2b3239;
  border: solid 5px #333;
  height: 150px;
  padding: 10px;
}

.cpanel-a {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;

  a {
    background-color: #999;
    margin: 4px;
    padding: 4px;
    color: #fff;
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-align: center;
    position: relative;

    &:hover {
      background-color: darken(#40AA54, 10%);
    }

    i {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #777;
      padding: 4px;
      width: 10%;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.title-user {
  background: #40AA54;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  color: #fff;
}

.a-long {
  color: #333;
  padding: 10px;
}


#user-id {
  direction: ltr;
  font-size: 20px;
}

#works {
  width: 77%;
  height: auto;
  margin: 10px;
  background-color: #fff;
  color: #111;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.post-box {
  margin: 15px;
  border: 1px solid #eee;
  width: 250px;
  height: 400px;

  img {
    width: 250px;
    height: 250px;
  }
}

.post-content {
  overflow: hidden;
}

.post-title {
  overflow: hidden;
}

.recent-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#user-info {
  display: flex;
  text-align: center;
  justify-content: center;

  i {
    margin: 0 15px;
  }

  td {
    padding: 8px 0;
    max-width: 200px;
    overflow-wrap: break-word;
    overflow: hidden;

    p {
      text-align: center;
    }
  }

}

@media (min-width: 120px) and (max-width: 580px) {
  #container {
    flex-direction: column;
    justify-content: center;
  }

  .recent-posts {
    flex-direction: column;
    align-items: center;
  }

  #works {
    width: 95%;
    margin: 0 auto;
  }

  #user-panel {
    width: 95%;
  }
}
