.viewpost {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 572px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: inset 0 0 103px -58px rgba(0,0,0,0.77);
}

.viewpost span {
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 4px 2px rgba(0,0,0,0.3);
  font-family: SB;
}

.viewpost-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  opacity: 0.9;

  span {
    font-size: 13px;
    margin-right: 6px;
    text-shadow: 1px 4px 2px rgba(0,0,0,0.3);
  }

  .profile-img {
    border: none;
  }

  i {
    font-size: 10px;
  }
}

.viewpost-body {
  padding: 40px 15px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.viewpost-text {
  padding: 10px 30px 100px;
  background: #fff;
  width: 65%;
  height: auto;
  text-align: justify;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: relative;
  line-height: 2.1em;
  display: flex;
  flex-direction: column;

  img {
    width: 450px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
  }
}

.viewpost-info {
  background: #40AA54;
  padding: 5px;
  width: 67%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #ccc;
}

.viewpost-info-all {
  display: flex;
}

.viewpost-info-in {
  display: flex;
  flex-direction: row;
}

.viewpost-info span {
  margin: 10px;
  letter-spacing: -.3px;
  font-family: SB;
  transition: 0.3s;
}

.view-post-head-right {
  display: flex;
  align-items: center;
  margin-left: 15px;

  a {
    color: #fff;
  }
}

.event {
  width: auto;
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #999;
  transition: 0.2s;
  font-size: 14px;

  .posts-event {
    margin-left: 20px;
    width: auto;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }
  }

  i {
    vertical-align: middle;
  }
}

.viewpost-icon {
  display: flex;
  align-items: center;
  color: #e5e5e5;
  font-size: 14px;
}

.user-info {
  display: flex;
  width: 68%;
  height: auto;
  margin: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #f2f2f2;
}

.user-info-right {
  background: #f2f2f2;
  width: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 80px;
    height: 80px;
  }
}

.user-info-left {
  background: #fff;
  padding: 10px;
  width: 100%;

  p {
    margin-top: 10px;
    color: #666;
    font-size: 14px;
  }
}

.username a {
  color: #222;
  font-family: SB;
}

#dislike-btn i {
  margin-right: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: red;
  }
}

.like-spn {
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
}

.liked {
  color: red;
}

.disliked {
  color: black;
}

.col-name span {
  color: #444;
}

.minimize {
  transform: translateY(-110%);
}

.article-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.head-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 3px 2%;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(128,128,128,0.22);

  h3 {
    color: #565656;
    font-size: 1em;
  }

  div {
    display: flex;
    align-items: center;

    i {
      vertical-align: middle;
      font-size: 25px;
      cursor: pointer;
      margin: 8px;
      padding: 10px;
      border-radius: 100%;
      color: #fff;
      transition: 0.3s;

      &:hover {
        background-color: darken(#555, 10%);
      }
    }

    .fa-envelope {
      background-color: #444;

      &:hover {
        background-color: darken(#444, 10%);
      }
    }

    .fa-twitter {
      background-color: #1DA1F3;

      &:hover {
        background-color: darken(#1DA1F3, 10%);
      }
    }

    .fa-telegram {
      background-color: #0088cc;

      &:hover {
        background-color: darken(#0088cc, 10%);
      }
    }
  }

  img {
    margin-left: 30px;
    vertical-align: middle;
  }
}

.dtags {
  background: #e5e5e5;
  width: auto;
  display: flex;
  padding: 5px;
}

.atags {
  background: #6742BD;
  margin-right: 10px;
  border-radius: 50px;
  width: auto;
  padding: 2%;
  color: #fff;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background-color: darken(#6742BD, 10%);
  }
}
// ؟//////////////////////////////////

.progress-container {
  width: 100%;
  height: 4px;
  bottom: 0;
}

.progress-bar {
  height: 4px;
  background: #4caf50;
  width: 0;
  border-radius: 10px;
}
// comment

.cmt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.comment {
  background: #fff;
  width: 80%;
  padding: 15px 1%;
  padding-bottom: 50px;
  display: flex;
  min-height: 180px;
  height: auto;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  position: relative;
  transition: 0.3s;
}

.cmt-avatar {
  width: 6%;
  padding: 10px 1%;

  img {
    border-radius: 100%;
  }
}

.cmt-content {
  // display: flex;
  // flex-direction: column;
  width: 100%;
}

.cmt-title {
  padding: 10px 2%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.comment:hover {
  .cmt-icon {
    transition: 0.3s;
    color: green;
    cursor: pointer;
  }
}

.comment:hover {
  .icon-dislike {
    transition: 0.3s;
    color: red;
    cursor: pointer;
  }
}

.cmt-des {
  padding: 10px 1%;
  color: #5A5A5A;
  text-align: justify;
}

.cmt-time {
  color: #989898;
  padding: 6px 10% 10px 2%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  i {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.cmt-event {
  color: #adadad;
  display: flex;

  i {
    margin-left: 6px;
  }

  div {
    margin-right: 10px;
  }
}

.cmt-name {
  font-family: SB;
}

.cmt-send {
  background: #fff;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border: solid 1px #eee;

  h2 {
    margin-bottom: 10px;
  }

  form {
    margin: auto;
    text-align: center;

    textarea {
      width: 95%;
    }
  }
}

.cmt-row {
  display: flex;
}
.cmt-name {
  font-family: SB;
}

.cmt-ans {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 2%;
  border-right: 3px solid #ccc;
}

.cmt-content {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 5px;
  }
}

.cmt-ans-avatar {
  width: 11%;
  padding: 5px;

  img {
    vertical-align: middle;
    width: 70px;
    border-radius: 100%;
  }
}

.article-title {
  background: linear-gradient(135deg,#7983ff,#5f9de9);
  padding: 10px;
  width: 68%;
  text-align: center;
  font-size: 22px;

  color: #fff;
  text-shadow: 2px 0 10px rgba(0,0,0,0.5);

  span{
    font-family: SB;
  }
}
@media (min-width: 120px) and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .viewpost-left {
    display: none;
  }

  .viewpost-body {
    padding: 0;
  }

  .viewpost-info {
    width: 96%;
    font-size: 13px;
    margin: auto;
    padding: 2px;
  }

  .viewpost-icon {
    font-size: 10px;
    text-align: center;
  }

  .viewpost-info-in {
    width: 100%;
  }

  .view-post-head-right {
    width: 300px;
    font-size: 12px;
  }

  .viewpost-info span {
    margin-right: 3px;
  }

  .viewpost-text {
    width: 80%;
    height: auto;
    font-size: 15px;
    word-wrap: break-word;

    img {
      width: 250px;
    }
  }

  .event {
    font-size: 13px;
    padding: 2px 10px;
  }

  .user-info {
    width: 89.2%;
    flex-direction: column;
    border: none;
    margin-right: 3%;
    margin-top: 10%;
  }

  .user-info-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .user-info-left {
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;

    div {
      margin: 10px;
    }
  }

  .username {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #d2d2d2;
    padding: 5px;
    width: auto;
  }

  .head-article {
    img {
      margin-left: 5px;
      width: 45px;
    }

    div {
      i {
        margin: 2px;
        font-size: 18px;
        padding: 7px;
      }
    }
  }

  .comment {
    width: 90%;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .cmt-avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cmt-des {
    margin-bottom: 15%;
    padding: 10px 3%;
  }

  .cmt-time {
    height: 8%;
  }

.cmt-ans-avatar {
  width: 23%;

  img {
    width: 55px;
  }}

  .cmt-send {
    width: 90%;
     form {
    textarea {
      width: 90%;
    }

    input[type=submit]{
      width: 90%;
    }
    }
  }
  .cmt-row {
    flex-direction: column;
  }
 .article-title {
   width: 100%;
 }
}
