{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/unsubscribe.css">
<script>
  function unsubscribeDone() {
    localStorage.setItem('unsubscribed', 1);
    window.location.href = '/';
  }
</script>
{% endblock %}

{% block content %}
{% if done %}
  <script>unsubscribeDone()</script>
{% else %}
<div class="page-title">
 <span>خروج از خبرنامه</span>
</div>
<div class="unsubscribe-container">
  <form action="/unsubscribe" method="post" name="unsub-form">
    <input
     type="email"
     name="email"
     required
     placeholder="ایمیل"
     maxlength="200">


             <div class="cap">
             <p id="svg-captcha"></p>
             <i class="icon-refresh"></i>
             </div>

     <input
       type="text"
       name="captcha"
       required
       placeholder="کد امنیتی"
       maxlength="10">

    <input
      type="submit"
      value="درخواست"
      class="green-btn">

  </form>
  </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/unsubscribe.js"></script>
{% endblock %}
