{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/lib/cropper.css">
<link rel="stylesheet" href="/files/css/setting-cropper.css">
<link rel="stylesheet" href="/files/css/post.css">
{% endblock %}

{% block content %}
  <div class="page-title">
    <i class="icon-pencil"></i>
    <span>اضافه کردن مقاله</span>
  </div>

  <div class="post-container">

    <form action="/u/article/add" method="post" name="add-post">
      <div class="add-post">

        <input type="text" name="title" required="required"
        placeholder="عنوان" maxlength="100" class="post-title">


        {% include locals.include + '/tools/editor-icon.njk' %}


        <input
          type="file"
          title="اضافه کردن عکس"
          id="add-photo-to-post"
          style="display: none;">

        <textarea
          id="post-content"
          name="content"
          rows="8"
          cols="80"
          required="required"
          placeholder="متن"
          maxlength="10000"></textarea>

        <input
          type="text"
          name="tags"
          maxlength="100"
          placeholder="برچسب ها (با کاما جدا کنید)">

        <input
          type="file"
          id="upload"
          value="Upload"
          style="display: none;">

        <button
          type="button"
          id="add-one-video-embed" class="green-btn">افزودن فیلم</button>

      <div id="adding-video-embed" class="video-embed">
        <textarea
          placeholder="لینک embed را وارد کنید"
          id="embed-text"></textarea>
        <button
          type="button"
          id="submit-embed" class="green-btn">اضافه کردن</button>
      </div>

      <label for="upload" class="cam-icon">
        <span>افزودن عکس پست</span>
        <i class="icon-camera" title="عکس پست"></i>
      </label>

      <input type="submit" value="ثبت" class="green-btn">

   </div>
    </form>
  </div>

  <button id="preview" style="display: none">Preview</button>

  <div id="show"></div>

  <div id="all">
    <div class="container">
      <img id="img-preview">
    </div>
    <div class="container">
      <img id="done">
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/showdown.min.js"></script>
<script src="/files/js/lib/cropper.js"></script>
<script src="/files/js/add-article.js"></script>
{% endblock %}
