{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/post-short.css">
<link rel="stylesheet" href="/files/css/all-post.css">
{% endblock %}

{% block content %}
{% if empty %}
<div class="page-title">
  <span>شما هیچ مقاله ای ندارید</span>
  </div>
{% else %}
<div class="page-title"><i class="icon-pencil" aria-hidden="true">
</i><span>مقالات من</span></div>
<div class="posts-all">
 <div class="allposts">
{% for i in posts %}
<div class="posts" id="{{ i._id }}">
  <div class="posts-delete">
    <form
      action="/u/article/delete/{{ i._id }}"
      method="post"
      class="delete-post">

      <input type="hidden" value="{{ i._id }}" name="id">
      <input type="submit" value="حذف">
      
    </form>
    <a href="/u/article/{{ i._id }}/edit">تغییر</a>
  </div>

  <a href="/article/{{ i._id }}">
    <div class="posts-pic">
      <img src="/img/{{ i.avatar }}">
    </div>
  </a>
  <div class="posts-body">
    <div class="posts-title">
      <a href="/article/{{ i._id }}">
        <span>{{ i.title }}</span>
      </a>
    </div>
    <div class="posts-summary">
      <p>{{ i.content }}</p>
    </div>
  </div>
  <div class="posts-footer">
    <div class="posts-event">
      <div class="like-btn" title="لایک ها">
        <span>{{ i.likes }}</span>
        <i class="icon-heart" aria-hidden="true"></i>
      </div>
      <div class="view-btn" title="بازدید ها">
        <span>{{ i.viewers }}</span>
        <i class="icon-eye" aria-hidden="true"></i>
      </div>

    </div>
    <a href="/article/{{ i.id }}">
      <span>بیشتر بخوانید . . .</span>
    </a>
  </div>

</div>
{% endfor %}
</div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/files/js/delete-article.js"></script>
{% endblock %}
