{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/post.css">
{% endblock %}

{% block content %}
  <div class="page-title">
    <i class="icon-pencil"></i>
    <span>تغییر مقاله</span>
  </div>

  <div class="post-container">

    <form action="/u/article/edit" method="post" name="edit-post">
      <div class="add-post">

        <input
          type="text"
          name="title"
          placeholder="عنوان"
          maxlength="100"
          value="{{ article.title }}">

        <input
          type="hidden"
          name="id"
          value="{{ article._id }}">


        {% include locals.include + '/tools/editor-icon.njk' %}

        <input type="file" title="اضافه کردن عکس"
        id="add-photo-to-post" style="display: none;">
          <textarea
            id="post-content"
            name="content"
            rows="8"
            cols="80"
            required="required"
            placeholder="متن"
            maxlength="10000">{{ article.content }}</textarea>

      <input type="submit" value="ثبت" class="green-btn">

   </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  <script src="/files/js/edit-article.js"></script>
  <script src="/files/js/add-article.js"></script>
{% endblock %}
