<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/files/css/font-fa.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link rel="stylesheet" href="/files/css/index/header.css">
    <link rel="stylesheet" href="/files/css/footer.css">
    <link rel="stylesheet" href="/files/css/home.css">
    <link rel="stylesheet" href="/files/css/account.css">
    <link rel="stylesheet" href="/files/css/post-short.css">
    <link rel="stylesheet" href="/files/css/dropdown.css">
    <link rel="stylesheet" href="/files/css/lib/izi.min.css">
    <link rel="stylesheet" href="/files/css/icons.css">
    <link rel="stylesheet" href="/files/css/editor-icon.css">


    <title>Qom OSC</title>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/files/image/favicon.ico">

    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}{% endblock %}
  </head>
  <body>

    {% include locals.include + '/layouts/index/header.njk' %}

    <div id="all-container">
      {% block content %}{% endblock %}
    </div>

    {% include locals.include + '/layouts/index/fixedfooter.njk' %}

    {% include locals.include + '/layouts/index/footer.njk' %}

    {% for item in locals.header %}
     {{ item | safe }}
    {% endfor %}

    <script src="/files/js/article-options.js"></script>
    <script src="/files/js/lib/checkstatus.js"></script>
    <script src="/files/js/lib/validator.js"></script>
    <script src="/files/js/lib/izi.min.js"></script>
    <script src="/files/js/common-funcs.js"></script>
    <script src="/files/js/home-localstorage.js"></script>
    <script src="/files/js/add-newsletter.js"></script>
    <script src="/files/js/dropdown.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
