{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/conference.css">
{% endblock %}

{% block content %}
<div class="page-title">
  <span>اضافه کردن ارائه</span>
</div>

<div class="conference-container">

  <form action="/u/conference/add" method="post" name="add-conference">

    <input
      type="text"
      name="title"
      required
      placeholder="موضوع ارائه"
    />


    {% include locals.include + '/tools/editor-icon.njk' %}


    <textarea
      name="description"
      id="post-content"
      placeholder="درباره"
      rows="8"
      cols="80"></textarea>

    <input
      type="text"
      dir="ltr"
      name="providers"
      placeholder="ارائه دهندگان (یوزرنیمشان را وارد کنید و با کاما جدا کنید)"
      required
    />

    <input
      type="text"
      placeholder="زمان شروع ارائه(برای مثال: پنج شنبه ۱۷ اسفند ساعت ۱۸:۰۰)"
      name="start"
      required
    />

    <input
      type="text"
      placeholder="زمان اتمام ارائه(برای مثال: پنج شنبه ۱۷ اسفند ساعت ۱۶:۰۰)"
      name="end"
      required
    />

    <input
      type="submit"
      value="ارسال درخواست"
    />

  </form>

</div>
{% endblock %}

{% block scripts %}
<script src="/files/js/add-conference.js"></script>
{% endblock %}
